<div class="container">
	<div class="header">
		<div class="voices-heard">{{voicesCount.toLocaleString()}} Voices heard</div>
		<div class="title">Topics most talked about</div>
	</div>
	<div class="bubbles">
		<div class="row top">
			<p class="depression">depression</p>
			<p class="anxiety">anxiety</p>
		</div>

		<div class="row middle">
			<p class="stress">stress</p>
			<p class="anger">anger</p>
			<p class="verbal-abuse">verbal abuse</p>
		</div>

		<div class="row bottom">
			<p class="cyber-bullying">cyber bullying</p>
			<p class="isolation">isolation</p>
		</div>
	</div>
</div>