@import '../sass/mixins.scss';
@import '../sass/colors.scss';

$purple: #B585DB;
$yellow: #F4C70A;
$blue: #3999E3;

@mixin background($text, $bg) {
  // background: linear-gradient(to right, rgba($color, 0.2), rgba($color, 0.8),$color, $color);
  background: $bg;
  border: 5px solid $bg;
  color: $text;

  &:hover {
    cursor: pointer;
    background: $text;
    color: $bg;
  }
}


.container {
  @include column-center;
  position: relative;
  width: 60vh;
  height: 100%;
  margin-right: 40px;

  .header {
    @include column-center;
    position: relative;
    width: 100%;
    
    .voices-heard {
      width: 100%;
      @include column-center;
      // padding: 10px 60px;
      border-radius: 10px;
      font-size: 24px;
      color: $dark-blue;
      // below is for if hse wants blue bg
      // color: white;
      // background: $dark-blue;
      // box-shadow: 0 5px 10px rgba(20, 20, 20, 0.4);

      
      span {
        color: inherit;
        margin-bottom: 10px;

        &.number {
          font-size: 60px;
          font-weight: 500;
          letter-spacing: 2px;
        }

        &:last-child {
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 1.5px;
          margin-bottom: 0;
        }
      }
    }

    .title {
      padding: 5px;
      font-weight: 500;
      margin: 20px;
      font-size: 25px;
    }
  }
  
  .bubbles {
    @include column-center;
    position: relative;
    width: 100%;
    height: 100%;

    .row {
      position: relative;
      width: 100%;
      flex-grow: 1;
    }
  }

  @mixin size($size) {
    width: $size;
    height: $size;
    font-size: $size / 8;

    .read-more {
      bottom: $size / 6;
      font-size: $size/12;
    }
  }

  p {
    @include column-center;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    line-height:  125%;

    .title{
      position: relative;
      color: inherit;
      transition: none;
    }

    &:hover {
      .read-more {
        opacity: 1;
      }
    }

    .read-more {
      position: absolute;
      opacity: 0;
      left: 0;
      right: 0;
      top: 120%;
    }
  }

  .depression {
    @include size(22vh);
    @include background(white, $dark-blue);
    left: 0;
    top: 0;
  }

  .anxiety {
    @include size(19vh);
    @include background(white, $yellow);
    right: 10%;
    top: -1vh;
  }

  .anger {
    @include size(12vh);
    @include background(white, $purple);
    left: 38%;
    top:-5vh;
  }

  .stress {
    @include size(17vh);
    @include background(white, turquoise);
    left: -5%;
    top: 7vh;
  }

  .cyber-bullying {
    @include size(25vh);
    @include background(white, $yellow);
    left: 14vh;
    top: -4vw;
  }

  .verbal-abuse {
    @include size(18vh);
    @include background(white, $dark-blue);
    right: 4vh;
    top: 4vh;
  }

  .isolation {
    @include size(13vh);
    @include background(white, $purple);
    top: 8vh;
    right: 5vh;
  }
}