<div class="container">
	<div class="header">
		<div class="voices-heard">
			<span class="part number">
      {{voicesCount.toLocaleString()}}
      </span>
			<span class="part">
         Stories shared
      </span>
		</div>
		<div class="title">Topics most talked about</div>
	</div>
	<div class="bubbles">
		<div class="row top">
			<p class="depression">
				<span class="title">
          depression
				<span class="read-more">Read more</span>
				</span>
			</p>
			<p class="anxiety">
				<span class="title">anxiety<span class="read-more">Read more</span></span>
			</p>
		</div>

		<div class="row middle">
			<p class="stress">
				<span class="title">stress<span class="read-more">Read more</span></span>
			</p>
			<p class="anger">
				<span class="title">anger<span class="read-more">Read more</span></span>
			</p>
			<p class="verbal-abuse">
				<span class="title">verbal abuse<span class="read-more">Read more</span></span>
			</p>
		</div>

		<div class="row bottom">
			<p class="cyber-bullying">
				<span class="title">cyber bullying<span class="read-more">Read more</span></span>
			</p>
			<!-- <p class="isolation">
				<span class="title">isolation<span class="read-more">Read more</span></span>
			</p> -->
		</div>
	</div>
</div>