<div class="window">
	<div class="header">
		Share your stories
	</div>

	<div class="chat-content" id="chat-content">
		<div class="message" *ngFor="let message of data; trackBy: trackMessage" [@messageAnimation]="offset > 1">
			<div class="icon">
				<i class="material-icons">account_circle</i>
			</div>
			<div class="title">{{message.title}}</div>
			<div class="content">{{message.content}}</div>
		</div>
	</div>

	<div class="input-area">
		<div class="type-area">Type here to speak out</div>
		<div class="send-button">
      <i class="material-icons">send</i>
		</div>
	</div>
</div>